<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matcha.jjbros.matchaapp">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.JoinActivity" />
        <activity android:name=".user.UserMainActivity" />
        <activity android:name=".main.ForgotActivity" />
        <activity android:name=".owner.OwnerJoinActivity" />
        <activity android:name=".owner.OwnerMainActivity" />
        <activity android:name=".truck.UserNearFoodtruckActivity" />
        <activity android:name=".user.UserBestFoodtruckListActivity" />
        <activity android:name=".owner.OwnerInfoActivity" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".truck.FoodTruckMapActivity"
            android:label="@string/title_activity_food_truck_map" />
        <activity
            android:name=".owner.OwnerTimeTableActivity"
            android:label="@string/title_activity_owner_tite_table" />
        <activity
            android:name=".owner.FestInfoActivity"
            android:label="@string/title_activity_fest_info" />
        <activity
            android:name=".owner.FoodMenuMngActivity"
            android:label="푸드트럭 메뉴 관리"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.AddPlanActivity"
            android:label="일정 추가" />
        <activity
            android:name=".truck.FoodTruckViewActivity"
            android:label="@string/title_activity_food_truck_view"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".owner.OwnerCouponActivity"
            android:label="쿠폰"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.AddCouponActivity"
            android:label="쿠폰 등록"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserSettingActivity"
            android:label="환경 설정"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserReviewActivity"
            android:label="리뷰"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".owner.OwnerReviewActivity"
            android:label="리뷰 관리"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserEventNoticeActivity"
            android:label="이벤트/공지사항"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".user.UserCouponActivity"
            android:label="내 쿠폰"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".truck.NotifiedFoodTruckMapActivity"
            android:label="실시간 위치"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".owner.LocationService" />
        <service
            android:name=".user.UserLocationService" />
        <service
            android:name=".geofencing.GeofenceTransitionsIntentService" />
        <service
            android:name=".geofencing.NearTruckGeofencingService" />
        <service
            android:name=".user.UserCouponService" />




    </application>

</manifest>